
/.thinlto-cache
/.thinlto-cache
*.cmd
*.cmd
*.cmd
*.tmp
*.tmp
*.tmp
/magiskboot
*.builtin
*.bin
/out
*.devname
*.dep
*.alias
*.load
*.softdep
*.modinfo
AnyKernel3/dtb
AnyKernel3/dtbo
/AnyKernel3
/AnyKernel3
AnyKernel3/LICENSE
arch/arm64/boot/dts/allwinner/sun50i-a100-allwinner-perf1.dtb.dtout
*.dtout
/arch/arm64/boot/dts/allwinner
*.reverse.dts
*.dtbo
*.S
/arch/arm64/include/generated
*.lds
*.so
*.dbg
*.rej
*.rej
fs/exec.c.rej
/modules
/toolchain
build.sh
