
*.cmd
*.tmp
/arch/arm64/boot/dts/allwinner
/arch/arm64/boot/dts/exynos/board
arch/arm64/boot/dts/exynos/exynos2100.dtb
/arch/arm64/boot/dts/hisilicon
/arch/arm64/boot/dts/qcom
*.dtb
/arch/arm64/boot/dts/sprd
*.lds
*.so
*.dbg
*.raw
arch/arm64/kvm/hyp/nvhe/gen-hyprel
*.S
*.dtout
*.dtb.reverse.dts
*.dtbo
*.dtbo.reverse.dts
*.dtbo.*.dts
/arch/arm64/include/generated
/drivers/crypto/fmp
*.alias
/modules
/toolchain
arch/arm64/boot/Image
*.gz
*.o
*.d
*.order
*.symversions
*.a
/.thinlto-cache
*.ko
*.mod.c
*.s
/build/out
*.asn1.c
*.mod
/include/config
/include/ksym/cstat
/include/ksym/dbg
/include/ksym/dce/v11
/include/ksym/debug
/include/ksym
/usr
/scripts/dtc
/scripts/genksyms
/include/generated
scripts/kconfig/lexer.lex.c
scripts/kconfig/parser.tab.c
scripts/kconfig/parser.tab.h
scripts/kconfig/conf
*.modinfo
*.builtin
*.symvers
net/wireless/shipped-certs.c
scripts/asn1_compiler
lib/oid_registry_data.c
*.asn1.h
scripts/unifdef
scripts/sorttable
scripts/selinux/genheaders/genheaders
scripts/mod/mk_elfconfig
scripts/mod/elfconfig.h
scripts/mod/devicetable-offsets.h
scripts/selinux/mdp/mdp
security/selinux/av_permissions.h
security/selinux/flask.h
vmlinux
vendor_dlkm_repacker/
System.map
scripts/kallsyms
scripts/mod/modpost
scripts/extract-cert
/lib
kernel/config_data
.config
.tmp_kallsyms
.tmp_System.map
.tmp_vmlinux.kallsyms1
.tmp_vmlinux.kallsyms2
.version
arch/arm/vdso/vdsomunge
certs/x509_certificate_list
drivers/scsi/scsi_devinfo_tbl.c
fs/unicode/utf8data.h
kernel/kheaders.md5
kernel/kheaders_data.tar.xz
*.rodata
*.text
*.pb.h
*.pyc
scripts/basic/fixdep
include/linux/ologk.h
